<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            %-5p: %c - %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Application Loggers-->
        <Logger name="spittr" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- 3rd party Loggers -->
        <Logger name="org.springframework.core" level="INFO"/>
        <Logger name="org.springframework.beans" level="INFO"/>
        <Logger name="org.springframework.context" level="INFO"/>
        <Logger name="org.springframework.web" level="INFO"/>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>

</Configuration>